{require_otp_vsn, "R?1[7]"}.
{erl_opts, [debug_info,
            {i, ["include"]}, smp]}.
{deps, [
      {folsom, ".*", {git, "git://github.com/boundary/folsom", master}},
      {webmachine, ".*", {git, "git://github.com/basho/webmachine", master}}
  ]}.
{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.
{erl_opts, [debug_info]}.
{cover_enabled, true}.
