{sys, [
       {lib_dirs, ["../deps", ".."]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "folsom_webmachine", "1",
        [
         kernel,
         stdlib,
         sasl,
         crypto,
         inets,
         mochiweb,
         webmachine,
         folsom,
         folsom_webmachine
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "folsom_webmachine"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, ibrowse, [{incl_cond, include}]},
       {app, bear, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, webmachine, [{incl_cond, include}]},
       {app, folsom, [{incl_cond, include}]},
       {app, folsom_webmachine, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "folsom_webmachine"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/sanity_test.sh", "bin/sanity_test.sh"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/folsom_webmachine", "bin/folsom_webmachine"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/folsom_webmachine.cmd", "bin/folsom_webmachine.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
